<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-MohitNotes</title>
    {{>homecss}}
    {{>contactcss}}
</head>

<body>

    {{>navbar}}

    <div class="container">
        <div class="content">
            <h1 class="contactus">Contact Us</h1>
            <form action="/contact" class="form" id="form" method="POST" >
                <input class="input" id="name" type="text" name="name" placeholder="Enter your Name">
                {{#if errors.name}}
                <span class="text-danger">{{errors.name.msg}}</span>
            {{/if}}
                <input class="input" id="phno" type="text" name="phone" placeholder="Enter your Phone Number">
                {{#if errors.phone}}
                <span class="text-danger">{{errors.phone.msg}}</span>
            {{/if}}
                <input class="input" id="email" type="email" name="email" placeholder="Enter your Email">
                {{#if errors.email}}
                <span class="text-danger">{{errors.email.msg}}</span>
            {{/if}}
                <textarea class="input" id="text" name="text" rows="5" cols="33"
                    placeholder="Give Feedback....?"></textarea>
                    {{#if errors.text}}
                    <span class="text-danger">{{errors.text.msg}}</span>
                {{/if}}
                    <button class="btn" id="btn" id="submit-button">Submit</button>
            </form>
        </div>
    </div>

    {{>footer}}
    <script>


        const burger = document.querySelector('.burger')
const navbar = document.querySelector('.navbar')
const navList = document.querySelector('.navlist')


burger.addEventListener('click',()=>{
    navList.classList.toggle('respnavv');
    navbar.classList.toggle('respnavh');
})

input.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("myaddbtn").click();
    }
});


</script>


</body>

</html>