<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MohitNotes-Check New Subject's</title>
    <link rel="shortcut icon" href="public/img/mn-initial-letters-logo-design-free-vector.jpg" type="image/x-icon">


{{>homecss}}

</head>

<body>
 
<div class="error" >
  <h1> 404 </h1>
  <p> Page Not Found </p>
  <a href="home"style="text-decoration: none" class="secbtn">Return To Home</a>


</div>
</body>
</html>
