# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
