@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {

    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;

}

p {
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    list-style: none;


}

html {
    scroll-behavior: smooth;
}


.backgroundimg {
    background: rgba(0, 0, 0, 0.7) url(/img/notesFB-1200x415.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
    -webkit-filter: brightness(80%);
    width: 70rem;
    clip-path: polygon(49% -100%, 306rem 101%, 0% 100%);
}

.backgroundimg:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlist {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navlist li {
    display: flex;
    margin: 14px;
    list-style: none;

}

.navlist li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;

}

.navlist li a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.navlist li a:active {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.logo img {
    height: 66px;
    width: 5vw;
    padding: 8px;
    border-radius: 59px;
}

li.space {
    visibility: hidden;
}

.navlist li.signup {
    margin-left: -20px;
}

.signup {
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    background-color: rgb(126 34 206);
    color: #ffffff;
    align-items: center;
    display: flex;

}

.login {
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    background-color: rgb(126 34 206);
    color: #ffffff;
    align-items: center;
    display: flex;
}

.signup:hover {
    background-color: rgb(112, 19, 193);
}

.login:hover {
    background-color: rgb(112, 19, 193);
}


.rightnav {
    display: flex;
    gap: 9px;
    height: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rightnav li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 15px;
    font-weight: 500;
}

.logsign {
    display: flex;
    gap: 10px;
}

.search-container {
    float: right;
    margin-right: 20px;
    position: relative;
    margin-top: 0px;
}

.search-input {
    padding: 9px 20px;
    border: solid black 1px;
    border-radius: 20px;
    outline: none;
    background-color: #f2f2f2;
    transition: background-color 0.3s;
    width: 223px;
}


.search-input:focus {
    background-color: #e0e0e0;
}

.search-icon {
    position: absolute;
    right: 8px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s;
}

.search-icon:hover {
    color: #555;
}

.placeholder-red::placeholder {
    color: red;
}

.navbar ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    top: 45px;
    display: none;
    background: white;
    z-index: 1;
}

.navbar ul li:hover>ul,
.navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.navbar ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

.navbar ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}


a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

.navbar ul li ul li a {
    transition: all 0.5s ease;
}

.mainHeading {
    display: flex;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 400px;
    margin: 0px 33px;
    width: 47rem;

}

.heading h1 {
    font-size: 30px;
    line-height: 3.5rem;
    font-weight: 600;
}


.heading h1 span {
    font-size: 30px;
    margin-top: 37px;
    transition: 0.3s;
}

.heading span:hover {
    transform: scale(1.2);
}

.heading span {
    animation: hanima 1s 1;
}

.seperation-line {
    width: 100%;
    height: 2px;
    background-color: #000000;
    z-index: 10;
}

@keyframes hanima {
    0% {
        transform: scale(0.7);
    }

}

.grid {
    animation: ganima 1s 1;
}

@keyframes ganima {
    0% {
        transform: scale(0.7);
    }

}

.heading p {
    width: 35vw;
    font-size: 17px;
}


.fstbtn {

    border: solid;
    padding: 9px;
    border-radius: 13px;
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s;


}

.fstbtn:hover {
    transform: scale(0.9, 0.9);

}

.bigbtn {
    border: solid black 2px;
}

.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.heading2 span img {
    height: 34px;
    padding: 5px;
}

.heading2 span {
    margin-top: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    font-weight: 600;

}

.service-image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.courses-img {
    width: 18rem;
    height: 10rem;
    object-fit: fill;
}

.item {
    padding: 20px;
    background-color: #f2f0ef;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 20rem;
}

.item:hover {
    background-color: #edd6ca;
    transform: scale(1.05);
}

.item-sub {
    padding: 0px 20px;
    font-weight: 900;
    font-size: large;
    margin-top: 10px;
}

.secbtn {
    background-color: #aa62e8;
    color: #171414;
    padding: 10px;
    margin: 9px 15px;
    border-radius: 9px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgb(248 248 248);
    display: inline-block;
    font-weight: 600;
    border: none;
}

.secbtn:hover {
    background-color: #65d651;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 20px;
    justify-items: center;
    width: 75rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        width: 46rem;
    }

    .navbar ul li ul {
        display: none;
        /* Keep dropdown hidden on mobile by default */
    }

    /* Show dropdown when clicked on mobile */
    .navbar ul li.active>ul {
        display: block;
    }

    .navbar ul li ul {
        top: 275px;
        right: 95px;
    }

}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .navbar ul li ul {
        top: 275px;
        right: 29px;
    }

}




.iconzoom {
    transition: transform 0.3s ease;
    transform: scale(1);
}

.iconzoom:hover {
    transform: scale(1.2);
}

.red {
    border: 2px solid transparent;
    /* Initial border */
    border-radius: 60px;
}

.red:hover {
    border: 2px solid red;
}

.green {
    border: 2px solid transparent;
    /* Initial border */
    border-radius: 60px;
}

.green:hover {
    border: 2px solid green;
}

.smicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    gap: 9px;
}

.burger {
    display: none;
    cursor: pointer;
}

.line {
    background-color: black;
    width: 30px;
    height: 4px;
    margin: 4px 11px;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;

}

.burger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle {
    display: none;
    background-color: #9023ca;
    color: white;
    padding: 2px;
    width: 4rem;
    height: 2rem;
    align-items: center;
    border-radius: 2px;
    position: fixed;
    margin-top: 2.5rem;
    margin-left: 0px;
    cursor: pointer;
    z-index: 100;
}


.error {
    display: grid;
    align-items: center;
    justify-items: center;

    & h1 {
        font-size: 15rem;
    }


    & p {
        font-size: xx-large;
    }

    & a {
        border: 2px solid black
    }
}

@media screen and (max-width: 1200px) {

    li.space {
        display: none;
    }

    .backgroundimg {
        display: none;
        /* Hide the element when screen is 767px or smaller */
    }



    .logo img {
        position: absolute;
        left: 30px;
        height: 69px;
        width: 9vw;
        padding: 5px;
        border-radius: 30px;

    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        /* background-color: #171616;*/
        height: 400px;
        margin: 0px 15px;
        width: 55rem;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        height: 519px;
        transition: all 0.8s ease-out;
    }

    .navlist {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }

    .navlist li {
        margin: 0px;
    }

    .burger {
        display: block;
        position: absolute;
        top: 14px;
        right: 10px;
    }



    .heading2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .fstbtn {
        border: solid;
        padding: 9px;
        border-radius: 13px;
        cursor: pointer;
        font-weight: 400;
        transition: 0.3s;
    }

    .fstbtn:hover {
        transform: scale(0.9, 0.9);

    }

    .heading h1 span {

        font-size: 31px;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .heading p {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .heading h1 {
        font-size: 35px;
    }

    .heading a {
        font-size: 27px;
    }

    .respnavh {
        height: 55px;
    }

    .respnavv {
        opacity: 1;
    }



    .rightnav {
        display: flex;
        gap: 9px;
        height: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .logsign {
        display: flex;
        gap: 10px;
    }

    .login {
        padding-left: 9px;
        padding-right: 12px;
        border-radius: 8px;
        background: transparent;
        cursor: pointer;
        background-color: rgb(126 34 206);
        color: #ffffff;
        align-items: center;
        display: flex;
    }

    .signup {
        padding-left: 9px;
        padding-right: 12px;
        border-radius: 8px;
        background: transparent;
        cursor: pointer;
        background-color: rgb(126 34 206);
        color: #ffffff;
        align-items: center;
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

}

@media screen and (max-width: 700px) {

    .logo img {
        height: 69px;
        width: 12vw;
    }

}

@media screen and (max-width: 530px) {

    .logo img {
        height: 66px;
        width: 16vw;
    }

    .heading h1 {
        font-size: 20px;
    }

    .footer-row {
        grid-template-columns: 1fr !important;
    }


}

@media screen and (max-width: 376px) {

    .logo img {
        height: 66px;
        width: 16vw;
    }

    .heading h1 {
        font-size: 18px;
    }

}

@media screen and (max-width: 399px) {

    .heading h1 {
        line-height: 2.5rem;

    }

}


.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #3275b9;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 23px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 2.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: underline;
    font-size: 16px;
    text-underline-offset: 3px;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

.footer-dark .footer-item.footer-text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .footer-item.footer-text {
        margin-bottom: 0;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        flex-direction: column;

    }

    .footer-row {
        grid-template-columns: 1fr 1fr !important;
    }

    .footer-dark .footer-item:not(.footer-social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .footer-item.footer-text p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.3rem;
}

.footer-dark .footer-item.footer-social {
    text-align: center;
}


.icon-imgf {
    height: 65px;
    width: 58px;

}

.icon-img {
    height: 4rem;
    margin-top: 6rem;
}

.icon-img:hover {

    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.footer-dark .footer-item.footer-social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    margin-bottom: 0;
}

.footer-container {
    max-width: 1156px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.col {

    flex-grow: 1;
    max-width: 100%;
}

.footer-follow {
    position: relative;
    top: 5rem;
}


.blog-container {
    background-color: rgb(227, 241, 254);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 6rem;
    width: 48rem;
    gap: 1rem;

}

.admin-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.date-dash {
    font-weight: 700;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: -4rem;
}

.btn-read{
    margin: 0rem 0rem !important;
}

@media (max-width:930px) {

    .blog-container{
        width: auto;
    }

}
@media (max-width:600px) {

    .blog-container{
        width: auto;
        margin: 5rem 1rem 1rem 1rem
    }

}

.scroll-to-top-btn {
    position: fixed;
    bottom: 20px; 
    right: 20px;  
    background-color: #c549d2; 
    color: white;  
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px; 
    cursor: pointer;
    display: none; 
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .scroll-to-top-btn:hover {
    background-color: #0056b3; 
  }
  